
<header>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="index.html"><b>Becoming Anonymous</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto justify-content-end">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Basic Tips
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="basic-overview.html"><b>Overview</b></a>
                    <a class="dropdown-item" href="basic-p1.html"> - Password Security</a>
                    <a class="dropdown-item" href="basic-p2.html"> - Search Engines</a>
                    <a class="dropdown-item" href="basic-p3.html"> - Using a VPN</a>
                    <a class="dropdown-item" href="basic-p4.html"> - ProtonMail</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Advanced Security
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="advanced-overview.html"><b>Overview</b></a>
                    <a class="dropdown-item" href="advanced-p1.html"> - Browse with Tor</a>
                    <a class="dropdown-item" href="advanced-p2.html"> - Disk Encryption</a>
                    <a class="dropdown-item" href="advanced-p3.html"> - Set a BIOS Password</a>
                    <a class="dropdown-item" href="advanced-p4.html"> - Switch to Linux</a>
                </div>
            </li>

            <li class="nav-item"><a class="nav-link" href="sitemap.html">Sitemap</a></li>

        </ul>
    </div>
</nav>
</header>